* {
  margin: 0;
  padding: 0;
  background-color: #1f2224;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.card-block {
  margin: 0 auto;
  max-width: 500px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.card-block .card-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-block .card-info-1 {
  font-size: 16px;
  color: #d6ddde;
  opacity: 0.6;
}

.card-block .card-info-1 li {
  margin-bottom: 15px;
}

.card-block .card-info-2 li {
  font-size: 16px;
  color: #d6ddde;
  margin-bottom: 15px;
  text-align: center;
}

.card-block i {
  font-size: 130px;
  color: #d6ddde;
}

header {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 29px auto 52px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 28px;
  line-height: 33px;
  color: #d6ddde;
  font-weight: 400;
}

header nav {
  max-width: 381px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .img-1 {
  width: 48px;
  height: 48px;
  background-image: url("./Images/Rectangle 15.png");
  padding-top: 10px;
}

header nav .img-1 p {
  background-color: #131718;
  color: #d6ddde;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 2px 0 2px 0;
}

header nav .img-2 {
  width: 48px;
  height: 48px;
  background-image: url("./Images/Rectangle 16.png");
  padding-top: 10px;
}

header nav .img-2 p {
  background-color: #131718;
  color: #d6ddde;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 2px 0 2px 0;
  opacity: 0.25;
}

header nav .img-3 {
  width: 48px;
  height: 48px;
  background-image: url("./Images/Rectangle 17.png");
  padding-top: 10px;
}

header nav .img-3 p {
  background-color: #131718;
  color: #d6ddde;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 2px 0 2px 0;
  opacity: 0.25;
}

header nav .btn-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border-radius: 4px;
  background-color: #18a7ff;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

header nav .btn-1:hover {
  background-color: #3dffff;
}

.nav-section {
  max-width: 1000px;
  border-bottom: rgba(139, 144, 145, 0.25) solid 1px;
  margin: 0 auto 43px auto;
}

.nav-section .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 396px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-section .nav-menu li {
  padding-bottom: 22px;
}

.nav-section .nav-menu li .nav-sub {
  border-bottom: 2px #18a7ff solid;
  padding-bottom: 22px;
  opacity: 1;
}

.nav-section .nav-menu li .nav-back {
  opacity: 0.6;
  padding: 0;
  border: none;
}

.nav-section .nav-menu li a {
  color: #d6ddde;
  opacity: 0.6;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-section .nav-menu li a:hover {
  opacity: 1;
  border-bottom: 2px #18a7ff solid;
  padding-bottom: 22px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

main .user-block {
  max-width: 1000px;
  margin: 0 auto 8px auto;
  background-color: #1a1c1e;
  padding: 6px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .user-block .parent-user-list {
  max-width: 643px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  color: #d6ddde;
  width: 100%;
  background-color: #1a1c1e;
}

main h2 {
  font-size: 16px;
  line-height: 19px;
  color: #d6ddde;
  font-weight: 400;
  margin-bottom: 24px;
}

main .list {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
  color: #d6ddde;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 800px;
  margin-bottom: 8px;
}

.add-section {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: #1a1c1e;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-section .add-block {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  padding: 20px;
  background-color: #1a1c1e;
  width: 100%;
  background-color: black;
}

.add-section .add-block input {
  margin-bottom: 20px;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.add-section .add-block .btn-2 {
  padding: 6px 12px;
  background-color: #499861;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  max-width: 120px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.add-section .add-block .btn-2:hover {
  background-color: #4aec4a;
}

.btn-2 {
  padding: 6px 12px;
  background-color: #499861;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  max-width: 120px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.remove-btn {
  padding: 6px 12px;
  background-color: #cc4343;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border-radius: 4px;
  border: none;
  display: block;
  cursor: pointer;
}

.btn-2:hover {
  background-color: #4aec4a;
}

.remove-btn:hover {
  background-color: red;
}

.child-user {
  max-width: 952px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 16px;
  background-color: #1a1c1e;
  border-radius: 4px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.add-section-2 {
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: #1a1c1e;
  opacity: 0.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-section-2 .add-block-2 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  padding: 20px;
  background-color: #1a1c1e;
  width: 100%;
  background-color: black;
}

.add-section-2 .add-block-2 input {
  margin-bottom: 20px;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.add-section-2 .add-block-2 .btn-3 {
  padding: 6px 12px;
  background-color: #499861;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  max-width: 120px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.add-section-2 .add-block-2 .btn-3:hover {
  background-color: #4aec4a;
}

.list-nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 390px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #d6ddde;
  opacity: 0.6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.parent-user-section {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.vector {
  width: 16px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: #1a1c1e;
}

.vector .vector-1 {
  height: 1px;
  width: 8px;
  background-color: white;
  position: absolute;
  left: 1px;
  -webkit-transition: 1s;
  transition: 1s;
}

.vector .vector-2 {
  height: 1px;
  width: 8px;
  background-color: white;
  position: absolute;
  right: 1px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.vector-rotate-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.vector-rotate-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-hide {
  height: 0;
}

.btn-block {
  background-color: #1a1c1e;
  max-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.child-user-list {
  max-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 16px;
  color: #d6ddde;
  background-color: #1a1c1e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 933px) {
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-section .nav-menu {
    width: 100%;
  }
  .user-block {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .parent-user-list {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    font-size: 10px !important;
  }
  .list {
    max-width: 600px !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .btn-2 {
    font-size: 12px !important;
    padding: 4px 10px !important;
  }
  .btn-3 {
    font-size: 12px !important;
    padding: 4px 10px !important;
  }
  .remove-btn {
    font-size: 12px !important;
    padding: 4px 10px !important;
  }
}

@media screen and (max-width: 756px) {
  .list {
    font-size: 8px !important;
    max-width: 500px !important;
  }
  .list-nav-2 {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    font-size: 8px !important;
  }
  .child-user-list {
    font-size: 8px !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}

@media screen and (max-width: 673px) {
  .list {
    max-width: 400px !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}

@media screen and (max-width: 571px) {
  .list {
    max-width: 330px !important;
  }
}

@media screen and (max-width: 502px) {
  .list {
    max-width: 280px !important;
  }
  header {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  header h1 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 442px) {
  .list-nav-2 {
    max-width: 340px !important;
    width: 100% !important;
  }
  .list {
    max-width: 240px !important;
  }
}

@media screen and (max-width: 370px) {
  .nav-menu {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .nav-menu li a {
    font-size: 12px !important;
  }
  .list-nav-2 {
    max-width: 200px !important;
  }
  .list {
    max-width: 180px !important;
    font-size: 5px !important;
  }
  .parent-user-list {
    font-size: 8px !important;
  }
  .btn-block {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .btn-block .btn-2 {
    font-size: 6px !important;
    padding: 1px 6px !important;
    margin: 0 !important;
  }
  .btn-block .remove-btn {
    font-size: 6px !important;
    padding: 1px 6px !important;
  }
  .btn-3 {
    font-size: 6px !important;
    padding: 1px 6px !important;
    margin: 0 !important;
  }
  .remove-btn {
    font-size: 6px !important;
    padding: 1px 6px !important;
  }
  .child-user-list {
    max-width: 180px !important;
  }
}
/*# sourceMappingURL=style.css.map */